/* TYPOGRAPHY */
body,
p,
input,
textarea,
select,
button {
    font-family: $font-copy;
    font-size: 18px;
}

body,
p {
    line-height: 2.5;
}

h1,
h2,
h3 {
    font-family: $font-headlines;
}

h4,
h5,
h6 {
    font-family: $font-copy;
}
