/* VARIABLES */
// Typography
$font-copy: "Sanomat Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-headlines: Canela, "Times New Roman", Times, serif;

// Colors
$color-red: #FA1E00;
$color-royal: #260E34;
$color-ash: #333333;
$color-fog: #A8A6A6;
$color-dove: #F7F7F7;
$color-midgrey: #D8D8D8;
$color-white: #FFFFFF;

// Padding & Margins
$gutter: 20px;
