/* VARIABLES */
// Typography
$font-copy: "Sanomat Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-headlines: Canela, "Times New Roman", Times, serif;

// Colors
$color-red: #FA1E00;
$color-ash: #333333;
$color-white: #FFFFFF;
